[data-toolti],[data-toolti-btn]{
    position: relative;
    font-weight: normal;
    font-size: 12px;
}
[data-toolti]:after,[data-toolti-btn]:after{
    display: none;
    position: absolute;
    top: 15px;
    padding: 5px;
    left: calc(100% - 19px);
    white-space: nowrap;
    background-color: #030303;
    color: White;
}
[data-toolti]:after,[data-toolti-btn]:after{
    top: 38px;
    left: 60px;
    content: attr(data-toolti);
    opacity: 70%;
}
[data-toolti-btn]:after{
    padding: 9px;
    opacity: 50%;
    left: -55px;
    content: attr(data-toolti-btn);
}
[data-toolti]:hover:after,[data-toolti-btn]:hover:after{
    display: block;
    z-index: 3;
}
