:root{
    --color-back: #e9e9e9;
    --color-letter: #666666;
}
hr{
    opacity: 40%;
    margin-left: 72px;
}
.CaixaTotal{
    height: 50px;
    width: 100%;
    background-color: #ffff;
    position: fixed;
    left: -15px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 13vh;
    margin-top: 0px;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    z-index: 3;
}
.categoria{
    text-align: center;
    padding-top: 1vh;
    width: 9vh;
    height: 25px;
    background-color: var(--color-back);
    color: var(--color-letter);
    border: 1px solid rgb(209, 208, 208);
    border-radius: 16px;
    font-size: 14px;
    font-family: Arial, sans-serif;
    margin-left: 12px;
    margin-bottom: 3px;
    cursor: pointer;
}
.tudo{
    background-color: #030303;
    color: white;
    width: 10vh;
}
.tudo:hover{
    opacity: 50%;
}
.musica{
    width: 11vh;
}
.cdc{
    width: 30vh;
}
.js{
    width: 14vh;
}
.node{
    width: 12vh;
}
.html{
    width: 18vh;
}
.tech{
    width: 15vh;
}
.dev{
    position: relative;
    width: 11vh;
    right: 0vh;
}
.musica:hover, .cdc:hover, .js:hover, .node:hover, .html:hover,.tech:hover, .mixes:hover{
    background-color: #e2e2e2;
}
.button{
    position: absolute;
    background-color: #ffff;
    border: none;
    border-radius: 20px;
    right: 10vh;
    height: 8vh;
    box-shadow:-32px 0 40px #ffff;
    filter: blur(3px);
    width: 16vh;
}
.img{
   width: 20px;
   height: 20px;
   filter: none;
   right: 22.5vh;
   cursor: pointer;
}

@media screen and (max-width: 411px){
    .CaixaTotal{
        left: -22px;
    }
}