.main-total{
    z-index: 2;
    margin-top: 270px;
    display: flex;
    flex-wrap: wrap;
    height: 1300px;
}
.card{
    position: relative;
    top: -200px;
    left: 80px;
    width: 284.3px;
    margin: 7px;
    margin-bottom: 30px;
    cursor: pointer;
}
.card-image{
    width: 284.3px;
    height: 159.5px;
}
.thumb{
    position: relative;
}
.time{
    background-color: rgba(0, 0, 0, 0.8);
    padding: 4px;
    border-radius: 4px;
    height: 14px;
    margin: 0px 6px 105px 0px;
    color: white;
    position: absolute;
    bottom: 0px;
    right: 0px;
    font-weight: bold;
    font-size: 14px;
}
.video-title{
    margin-left: 55px;
    margin-top: -30px;
    margin-bottom: 10px;
    font-weight: 600;
    color: black;
    display: block;
    text-overflow: ellipsis;
    overflow-wrap: break-word;
    font-size: 16px;
    max-height: 32px;
    line-height: 16px;
}
.card-icon{
    width: 36px;
    height: 36px;
    border-radius: 100%;
    margin-left: 5px;
    margin-top: 5px;
}
.canal-name, .vistime{
    color: #606060;
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 5px;
    margin-left: 55px;
}
