* {
    font-family: sans-serif;
    margin: 0;
}
.warning {
    text-align: center;
    padding: 7px;
    font-size: 10pt;
    color: black;
}
.warning:hover{
    background-color: gray;
}
.position{
    width: 100%;
    background-color: rgb(233, 10, 10);
    position: relative;
    left: 8vh;
    top: 7.5vh;
}