.warning {
    text-align: center;
    font-size: 9pt;
    color: white;
}
.warning:hover{
    background-color: gray;
}
.position{
    width: 100%;
    background-color: rgb(233, 10, 10);
    position: relative;
    left: 8vh;
    top: 7.5vh;
}