:root{
    --completo: 100%;
    --border-color: #d5d5d5;
}
.header{
    width: var(--completo);
    height: 56px;
    background-color: #ffff;
    position: fixed;
    top: 0px;
    z-index:4;
}
hr{
    margin-top: 0px;
}
.element-left, .element-right, .element-center{
    cursor: pointer;
}
.ContainerTotal,.ContainerLeft,.ContainerRight,.ContainerCenter{
    display: flex;
    height: var(--completo);
    justify-content: space-between;
    align-items: center;
}
.ContainerRight{
    margin-right: 5vh;
}
.ContainerCenter{
    margin-right: -5vh;
}
.element-left{
    margin-left: 4.5vh;
    margin-top: 0.5vh;
}
.search{
    width: 570px; 
    height: 26px;
    border: 0.5px solid var(--border-color);
    font-size: 16px;
}
#teclado{
    position: relative;
    right: 100px;
    cursor: pointer;
}
#teclado:hover{
    filter: contrast(300%);
}
.searchback{
    width: 65px;
    height: 28px;
    background-color: #f8f8f8;
    border: 1px solid var(--border-color);
    cursor: pointer;
    margin-right: -1vh;
}
.search-icon{
    margin-left: 50%;
    transform: translate(-50%);
    margin-top: 0.8vh;
}
.search-icon:hover{
    filter:brightness(-500%)
}
.element-right{
    margin: 13px;
}
.user{
    background-color: rgb(171, 27, 214);
    width: 32px;
    height: 32px;
    border-radius: 100px;
}