.inicio{
    margin-top: -9.4vh;
    width: 72px;
    height: 72px;
    background-color: #ffff;
    cursor: pointer;
}
.inicio:hover{
    background-color: #f2f2f2;
}
.home{
    padding-top: 2vh;
    padding-left: 4vh;
}
p, .pardif{
    color: #cc0000;
    margin-top: 0.5vh;
    margin-left: 4vh;
}
.explorar{
    background-color: #ffff;
    width: 72px;
    height: 72px;
    cursor: pointer;
}
.explorar:hover{
    background-color: #f2f2f2;
}
.bussola{
    padding-top: 2vh;
    padding-left: 4vh;
}
.explor{
    margin-left: 3vh;
}
p{
    font-family: Roboto, Arial, sans-serif;
    font-size: 10px;
    color: #6b6c6d;
}